body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar{
	width: 8px;
}
::-webkit-scrollbar-track{
	background-color: #bbdefb;
}
::-webkit-scrollbar-thumb{
	background-color: #2196f3;
}
.nav{
	font-family: 'Product Sans', sans-serif;
	background-color: rgba(16, 191, 222, 0.56);
	padding: 20px 80px;
	display: flex;
	z-index: 2;
}
.nav-item{
	font-weight: 800;
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	padding-right: 30px;
}
.first-big{
	height: 100vh;
	background-image: url(images/bg-main.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.second-big{
	background-color: #999;
	display: flex;
	height: 100vh;
	transform: skewY(-15deg);
}
.second-big div{
	transform: skewY(15deg);
}
.img-info{
	padding-top: 3%;
	height: 90%;
}
.img-info-real{
	height: 90%;
	width: auto;
}
.info{
	margin-top : 5%;
	padding: 40px 160px;
}
.info-head{
	font-size: 25px;
	font-family: 'Raleway Bold', sans-serif;
}
.info-desc{
	line-height: 26px;
	color: #676767;
	font-family: 'Raleway', sans-serif;
}